* {
  box-sizing: border-box;
}

:root {
  --text-color: rgb(34, 33, 33);
  --focus-color: rgb(247, 136, 80);
  --interactive-color: rgb(230, 223, 223);
  --interactive-color-light: rgb(240, 234, 234);
}

body {
  color: var(--text-color);
}

button,
input,
select {
  width: 150px;
  padding: 10px;
  text-align: center;
  font-size: clamp(16px, 1.4vw, 26px);
  font-weight: 500;
  border: 1px solid var(--text-color);
}

.container {
  max-width: 1240px;
  padding-inline: 15px;
  margin-inline: auto;
}

.select {
  font-weight: 500;
}

.select:focus {
  outline: 1px solid var(--focus-color);
  border: 1px solid var(--focus-color);
}

.button {
  transition-duration: 0.3s;
}

.button:hover {
  background-color: transparent;
  border: 1px solid var(--focus-color);
}

.input {
  text-align: left;
}

.input:focus {
  outline: 1px solid var(--focus-color);
  border: 1px solid var(--focus-color);
}

.header {
  text-align: center;
  padding: 50px 0;
}

.header-title {
  font-size: clamp(26px, 3.1vw, 60px);
}

.actions {
  padding-top: 50px;
}

.actions__inputs {
  display: flex;
  align-items: center;
  gap: 100px;
}

.url {
  padding-top: 150px;
}

.url-build {
  position: relative;
  bottom: 10px;
  font-size: 20px;
  color: rgb(114, 120, 118);
}

.url-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.url-string {
  padding: 10px 20px;
  border-radius: 4px;
  width: 80%;
  font-size: clamp(24px, 1.87vw, 36px);
  background-color: var(--interactive-color);
}

.info {
  padding-top: 100px;
  padding-bottom: 50px;
}

.info__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.info-content-item {
  width: 45%;
  height: 30vh;
  background-color: var(--interactive-color-light);
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
}

.info__area {
  resize: none;
  border: 1px solid transparent;
}

.info__area:focus {
  border: 1px solid var(--focus-color);
  outline: 1px solid var(--focus-color);
}

.info__result {
  overflow-y: scroll;
  overflow-x: hidden;
}

.info__result-status {
  background-color: rgb(217, 207, 207);
  padding: 3px 5px;
  border-radius: 3px;
  width: max-content;
  color: rgb(95, 97, 99);
}

.info__result-json {
  margin-top: 30px;
  white-space: pre-wrap;
  color: rgb(90, 91, 93);
  letter-spacing: 0.04rem;
  line-height: 1.4;
}

@media (max-width: 1250px) {
  .info__content {
    justify-content: center;
    gap: 60px;
  }
  .actions__inputs {
    gap: 30px;
  }
  .url {
    padding-top: 80px;
  }
  .info {
    padding-top: 80px;
    padding-bottom: 30px;
  }
}

@media (max-width: 720px) {
  .header {
    text-align: center;
    padding-bottom: 0;
  }
  .actions__inputs {
    flex-wrap: wrap;
    justify-content: center;
  }
  .url {
    padding-top: 50px;
  }
  .url-actions {
    flex-wrap: wrap;
    gap: 20px;
  }
  .url-string {
    padding: 10px 20px;
    width: 100%;
    font-size: clamp(15px, 1.87vw, 36px);
  }
  .info {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .info__content {
    justify-content: center;
    gap: 30px;
  }
}

@media (max-width: 500px) {
  .info__content {
    flex-direction: column;
  }
  .info-content-item {
    width: 100%;
    height: 30vh;
  }
}
